body{
   margin: 0;
   text-align: center;
  
}

#page-heading{
    text-align: center;
    margin-top: 25px;
    color: grey;
}

.contact{
    text-align: center;
    background-color: lightblue;
    width: 500px;
    margin: auto;
    border: 4px solid black;
  }

  ul {
    list-style-type: none;
}

form {
    display: inline-block;
}

input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
  border-radius: 4px
  }
  input[type=number] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
  border-radius: 4px
  }

  button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    display: block;
  }

  p {
    font-family: "Lucida Console", "Courier New", monospace;
  }

  i{
      color: grey;
  }